pylint
pytest
click
black
pytest-cov
difPy
matplotlib
numpy
pandas
scikit_learn
split-folders
thundersvm
streamlit
imutils
scipy
opencv-python
torch
torchtext
torchsummary
torchvision
nltk
pyngrok
transformers
SentencePiece
tensorflow
tqdm
torch
keras
torchtext
sentence_transformers









